.speech {
    color: black;
     font-size: small;
     font-family: 'Courier New', Courier, monospace;
   }

.directions {
    color: black;
    font-size: medium;
    background-color: aquamarine;
    
     font-family: 'Courier New', Courier, monospace;
   }
   .directions:hover {
     color: red;
     background-color: antiquewhite;
   }

.name {
    color: black;
     font-size: medium;
     font-family: 'Courier New', Courier, monospace;
   }

   .name:hover{
    text-shadow: 0 0 2px #FF0000, 0 0 3px #0000FF;
   }
.MRS.X {
    color: red;
     font-size: medium;
     font-family: 'Courier New', Courier, monospace;
}
.MRS.Y {
    color: yellow;
     font-size: medium;
     font-family: 'Courier New', Courier, monospace;

}
.TABLE{
    border: 1px solid;
    text-align: center;
}
.TABLE th:hover{
    background-color: aquamarine;
}
.TABLE th, td {
    text-align: left;
    padding: 8px;
  }
  
  .TABLE tr:nth-child(even) {background-color: #f2f2f2;}
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: brown;
  }

  li{
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: blueviolet;
  }